header{ 
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: rgb(241, 241, 241);
    padding: 0 1rem;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: rgb(241, 241, 241);
}

.navbar{
    background: rgb(241, 241, 241);
}

.logo{
    padding: 0.25rem;
    cursor: pointer;
}

.navbar-nav{
    padding: 10px;
}

.nav-item{
    margin: 0.5rem;
}

.navbar-nav .nav-item a:hover{
    text-decoration: underline;
}

.botoes__acesso a{
    margin: 0.5rem 0.5rem 0.5rem 0 ;
    background-color: rgb(18, 144, 144);
    padding: 7px 25px;
    border-radius: 10px;
    border: none;
    text-decoration: none;
    color: white;
}

.botao__pesquisa{
    background-color: rgb(18, 144, 144);
    display: flex;
    border: none;
    cursor: pointer;
    margin-right: 0.5rem;
}

.botao__pesquisa:hover, .botoes__acesso a:hover{
    background-color:rgb(30, 87, 87);
    cursor: pointer;
}

.botao__pesquisa span{
    color: rgb(255, 255, 255);
}

.navbar-toggler{
    border: none;
    box-shadow: none;
}


.navbar-toggler:focus { 
    border: none; 
    box-shadow: none;
    background-color: rgb(241, 241, 241);;
} 

/* ----------19/05-----------------*/

.icone__usuario{
    width: 40px; /* Tamanho fixo para a div icone__usuario */
    height: 40px;
    border-radius: 100%;
    background-color: rgb(201, 201, 201);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.usuario{
    display: flex;
    margin-right: 1rem;
}


.dropdown-content{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 3;
    right: 0;
} 

.dropdown-content2{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    left: 0;
} 

.dropdown-content a, button{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown-content2 a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown-content button{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    width: 100%;
    text-align: left ;
    font-size: medium;
    border:none;
    outline: none;
    cursor: pointer;
  }

  .dropdown-content a:hover, button:hover{
    background-color: rgb(230, 230, 230);
  }

    /* Estilos para telas de celular */
    @media only screen and (max-width: 767px) {

        .usuario{
            display: flex;
            margin-top: 1rem;
        }

        .dropdown-content{
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            box-shadow: 0;
            z-index: 3;
            left: 0;
        } 

        .dropdown-content a{
            margin-left: 0.3rem;
        }
    
      }
    
      /* Estilos para telas de tablet */
      @media only screen and (min-width: 768px) and (max-width: 991px) {
     
        .usuario{
            display: flex;
            margin-top: 1rem;
        }

        .dropdown-content{
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            box-shadow: 0;
            z-index: 3;
            left: 0;
        } 

        .dropdown-content a{
            margin-left: 0.3rem;
        }
    
      }