
.perfil__usuario{
    width: 30%;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    border-radius: 3%;
    height: 75%;
    padding: 1.5rem;
}

.identificacao{
    width: 100%;
    height: 40%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.identificacao h3, h4{
    margin: 0.25rem;
    font-size: small;
}

#foto-perfil{
    width: 12vh;
    height: 12vh;
    box-shadow: 1px 1px 10px 5px rgba(0, 0, 0, 0.188);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    background-color: rgb(204, 204, 204);
    background-size: cover;
    background-position: center;
    cursor: pointer;
}

.editar{
    padding: 3rem;
}

.editar input{
    margin: 0.7rem 0 0.7rem 0;
    width: 85%;
    outline: none;
    border: none;
    border-bottom: 1px solid rgb(87, 87, 87);
    padding: 0.3rem 0 0.3rem 0;
    align-self: center;
    
}

.botao__salvar{
    margin-top: 1.5rem;
    padding: 0.3rem;
    width: 40%;
    height: 2.5rem;
    align-self: center;
    background-color: rgb(18, 144, 144);
    border: none;
    outline: none;
    color: white;
}

.botao__salvar:hover{
    background-color: rgb(15, 110, 110);
    cursor: pointer;
}
