.section__banner{
    width: 100%;
    background-image: url(../img/banner.jpg);
    background-attachment: fixed;
    background-size:cover;
    background-repeat: no-repeat;
    height: 500px;
}

.section__texto{
    width: 100%;
}

.section__texto div{
    padding: 24px;
}

.section__texto h1, p{
    margin: 10px;
    text-align: justify;
}

.section__vagas{
    background-color: rgb(228, 228, 228);
}

.section__vagas{
    padding: 30px;
}

.vagas{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.vagas h1{
    font-size: 3rem ;
    font-weight: 600;
    text-align: center;
    margin: 0.5rem;
}

.vagas p{
    width: 75%;
    text-align: center;
}

.caixa__empresas{
    display: flex;
    width: 100%;
    padding: 3px;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    margin: 5px;
    background-color: rgb(244, 244, 244);
    border-radius: 25px;
}

.empresa{
    display: flex;
    align-items: center;
    justify-content: center;
}

.empresa img{
    width: 80%;
    height: 80%;
    margin: 10px;
    transition: transform 0.5s ease-in-out;
}

.empresa:hover{
    transform: scale(1.1);
}

